.CartButton {
  margin: 3px 4px 0 0;
  position: relative;
  cursor: pointer;

  .bubble {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: $color-p2;
    color: white;
    @include flexCenter;
    font-size: 12px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
  }
  svg {
    color: white;
    font-size: 25px;
  }

  &.scrolled {
    svg {
      color: $color-p1;
    }
  }
}

.CartItem {
  padding: 10px;
  border-bottom: 1px solid $color-g1;

  .det {
    display: flex;
    align-items: center;
    .img {
      height: 100px;
      width: 100px;
      background-size: contain;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .btn {
      outline: none !important;
      border: none !important;
      height: 25px;
      aspect-ratio: 1 / 1;
      cursor: pointer;

      @include flexCenter;
      p {
        margin-bottom: 2px;
      }
      background-color: $color-p2;
      color: white;
      border-radius: 50%;
    }
  }
}

.body {
  .cartItems {
    margin-bottom: 100px;
    position: relative;
    height: calc(100% - 30px);
    overflow: auto;
  }
  padding: 0;

  .Checkout {
    position: absolute;
    bottom: 0;
    width: 100%;

    button {
      width: 100%;
    }
  }
}

.empty {
  height: 100%;
  @include flexCenter;
  gap: 20px;
  flex-direction: column;
}
